body {
  font-family: Arial;
  background: #f0f8ff;
  text-align: center;
  padding: 40px;
}

button {
  padding: 15px 25px;
  font-size: 18px;
  background: #0077cc;
  color: white;
  border: none;
  border-radius: 8px;
}